<article>
    <h1>Games</h1>
    <form action='/' method='GET'>
    <!DOCTYPE html>
<html lang="en">

<body>
    <h1>Connor's Site</h1>
    <form id="searchForm">
                <label for="search_term">Search Fill <input type="text" id="search_term" name="search_term"></label>
                <input type="submit" value="Submit" name="input">
            </form>
            <a id="homeLink" href="/">Back to All Shows</a>
    <main class="class">
        <ul class="container hidden" id="showList">

        </ul>
        <div id="show" class="hidden">
            
        </div>
    </main>
    <footer>Connor Haaf 10471824</footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/basic_ajax_with_jquery.js"></script>

</body>

</html>
        <button type='submit'>Home</button>
    </form>
</article>