<article>
    <h1>Games</h1>
    <p class="error" id="gamesError" hidden></p>
    <ul id="gamesList"></ul>
    <img id="addGamePic" src="../../public/imgs/add.png" hidden>
    <form id="addGameForm" action="/games/add" method="POST" hidden>
        <label for="gamePicInput">Enter link to game picture</label> <br>
        <input type="text" name="gamePicInput" id="gamePicInput" autocomplete="off"/> <br>
        <label for="gameNameInput">Enter name of the game</label> <br>
        <input type="text" name="gameNameInput" id="gameNameInput" autocomplete ="off" <br>
        <button type="submit">Submit</button>
    </form>
    <form action='/' method='GET'>
        <button type='submit'>Home</button>
    </form>
</article>