<article>
    <h1>Split.COM</h1>
    <h2>Description</h2>
    <p>
        This site is a location where users can post videos of their fastest game completions.
        Additionally there is a forum for users to discuss anything that they feel like.
        Just nothing unreasonable please :)
    </p>
    <h2>Rules</h2>
    <p>
        This site is a lightweight version of other popular speed run websites, as such we allow our users
        a lot of freedom to share their love of gaming with the rest of the speed running community. However,
        with great power comes great responsibility. We kindly ask you not to post inappropriate or offensive
        forum posts and to focus on lifting one another up rather than putting eachother down. Thank you for
        helping to make our community a better place.
    </p>
    <dl>
        <dt>Current amount of registered users:</dt>
        <dd id="usersCount"></dd>
        <dt>Current amount of uploaded runs:</dt>
        <dd id="runsCount"></dd>
        <dt>Current amount of games serviced:</dt>
        <dd id="gamesCount"></dd>
        <dt>Current amount of forum posts:</dt>
        <dd id="forumsCount"></dd>
    </dl>
    <form id="loginForm" action='/login' method='GET'>
        <button type='submit'>Login</button>
    </form>
    <a href="/profile"><img id="profileForm" src="../../public/imgs/default.png" alt="Profile Picture"></a>
    <form id="gamesForm" action='/games' method='GET'>
        <button type='submit'>Games</button>
    </form>
    <form id="forumsForm" action='/forums' method='GET'>
        <button type='submit'>Forums</button>
    </form>
</article>