<article>
    <h1>Split.COM</h1>
    <h2>Description</h2>
    <p>
        This site is a location where users can post videos of their fastest game completions.
        Additionally there is a forum for users to discuss anything that they feel like.
        Just nothing unreasonable please :)
    </p>
    <form action='/login' method='GET'>
        <button type='submit'>Login</button>
    </form>
    <form action='/games' method='GET'>
        <button type='submit'>Games</button>
    </form>
    <form action='/forums' method='GET'>
        <button type='submit'>Forums</button>
    </form>
</article>