<article>
    <h1 id="usernameH1">{{username}}</h1>
    <img id="profilePic" src="../../public/imgs/default.png" alt="Profile Picture">
    <h2>Bio</h2>
    <p id="bio">No bio yet</p>
    <h2>Posts</h2>
    <div id="postsDiv"></div>
    <h2>Runs</h2>
    <div id="runsDiv">
        <ul id="runsList">

        </ul>
    </div>
    <form action='/' method='GET'>
        <button type='submit'>Home</button>
    </form>
</article>