<article>
    <h1>Verify Your Account</h1>
    <p>
        Welcome {{username}}, now that you have created your account, please go to your
        email and click on the confirmation link that we sent you so you can start uploading
        your very own speedruns.
    </p>
    <form action='/' method='GET'>
        <button type='submit'>Home</button>
    </form>
</article>