<article>
    <h1>Account Confirmed</h1>
    <p>Welcome {{username}} to the Split family!</p>
    <form action='/login' method='GET'>
        <button type='submit'>Login</button>
    </form>
    <form action='/' method='GET'>
        <button type='submit'>Home</button>
    </form>
</article>